html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#address_bar {
  display: flex;
  height: 26px;
}
#address_bar * {
  border-radius: 1px;
}

#url_box {
  flex-grow: 1;
}

#frame_container {
  flex-grow: 1;
}

#frame_container iframe {
  width: 100%;
  height: 100%;
  border-width: 0px;
}

#favicon_container {
  width: 24px;
  text-align: center;
  border: 1px solid black;
}